.panels-container {
  padding: 5rem;
}

.expansion-panel {
  margin: 1rem 0px !important;
  min-width: 35rem;
  border-radius: 30px !important;
}

.expansion-panel-summary {
  background-color: #ab0000 !important;
  border-radius: 20px 20px 0px 0px !important;
}

.expansion-panel-details {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.expansion-panel-details1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;
  min-height: 10vh;
}

.paper-input {
  padding: 0 1rem;
}

.logout {
  position: fixed !important;
  right: 0;
  top: 0;
}

.table-container {
  max-height: 22vh;
}

hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 5vh;
  padding-right: 1rem;
  width: 1px;
}
